# Generate with setup.py or provide "number of bytes to use for signature before encoding to Base64. Default: 32"
# [https://docs.imgproxy.net/configuration/options#IMGPROXY_SIGNATURE_SIZE]
# echo $(xxd -g 2 -l 64 -p /dev/random | tr -d '\n')
IMGPROXY_KEY=""
IMGPROXY_SALT=""

IMGPROXY_LICENSE_KEY=""

VIRTUAL_HOST=localhost
ACME_CERT_NOTIFICATION_EMAIL=name@example.com
LETSENCRYPT_EMAIL=name@example.com

# imgproxy:
IMGPROXY_PORT=8080

# Generate by set_workers_num.py or set manually
IMGPROXY_WORKERS=1

URL_ENCRYPTION_KEY=e_key

IMGPROXY_PROXY_USERNAME=user
IMGPROXY_PROXY_PASSWORD=pass
IMGPROXY_PROXY_HOST=proxy.net
IMGPROXY_PROXY_PORT=80

IMGPROXY_SENTRY_DSN=""